{% extends 'base.html.twig' %}

{% block content %}
    <div class="h3 mt-5 mb-5">Nueva Ciudad</div>
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class' : 'border border-light'}}) }} 
	    <div class='form-row ml-4 mr-2 mt-2'>	 
	    	<div class=' col-lg-4 col-sm-12'>
			    {{ form_label(form.nombre) }}
			    {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control'}}) }}
			    {{ form_errors(form.nombre) }}
			</div>   
	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.provincia) }}
			    {{ form_widget(form.provincia, { 'attr' : {'class' : 'form-control'}}) }}
			    {{ form_errors(form.provincia) }}
			</div>
		</div>

		<div class='form-row ml-4 mr-2 mt-2'>
			{{ form_widget(form.guardar, { 'attr' : {'class' : 'btn btn-success'}}) }}
		</div>
    
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

</script>
{% endblock %}

