{% extends 'base.html.twig' %}

{% block content %}
    <div class="h4 mt-5 mb-5">{{ label }} Estacion Peaje</div>
    <hr>
    {% include '@Gestion/messages.html.twig'  %}
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class' : 'border border-light'}}) }} 
	    <div class='form-row ml-3 mr-2 mt-2'>	 
	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.nombre) }}
			    {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control'}}) }}
			    <div class="text-danger">{{ form_errors(form.nombre) }}</div>
			</div>   
	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.estructura) }}
			    {{ form_widget(form.estructura, { 'attr' : {'class' : 'form-control'}}) }}
			    <div class="text-danger">{{ form_errors(form.estructura) }}</div>
			</div> 
	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.latitud) }}
			    {{ form_widget(form.latitud, { 'attr' : {'class' : 'form-control'}}) }}
			    <div class="text-danger">{{ form_errors(form.latitud) }}</div>
			</div>   
	    	<div class=' col-lg-3 col-sm-12'>
			    {{ form_label(form.longitud) }}
			    {{ form_widget(form.longitud, { 'attr' : {'class' : 'form-control'}}) }}
			    <div class="text-danger">{{ form_errors(form.longitud) }}</div>
			</div>  
		</div>

		<div class='form-row ml-4 mr-2 mt-2'>
			{{ form_widget(form.guardar, { 'attr' : {'class' : 'btn danger-color-dark text-white'}}) }}
		</div>
    
    {{ form_end(form) }}
    {% if edit is not defined %}
	    <hr>
		<table class="table table-hover table-bordered table-striped table-sm">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Estructura</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for e in estaciones %}
		  		<tr>
		  			<td>{{ loop.index }}</td>
		  			<td>{{ e|upper }}</td>
		  			<td>{{ e.estructura|upper }}</td>
		  			<td class="text-center">
		  					<a href="" class="btn btn-sm danger-color-dark text-white">Editar</a>
		  			</td>
		  		</tr>
		  	{% endfor %}
		  </tbody>
		</table>
	{% endif %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

</script>
{% endblock %}

